// Import page-specific CSS files here.
@import "home";

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

h2 {
  margin-top: 10px;
  color: black;
  text-align: center;
}

.list {
  border-radius: 10px;
  background-color: #FEF6E4;
  padding-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.castle-card {
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding-top: 5px;
}


a {
  text-decoration: none;
}

.trash {
  color: black;
  text-align:right;
  padding-right: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.castle-name {
  color: black;
}

.info {
  padding-left: 10px;
}

.card-category {
  margin-left: 5px;
  margin-right: 5px;
  height: 180px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.castle-card-content {
  padding: 24px;
  background-color:  #F8F9FA;
}

.global {
  justify-content: center;
  margin-top: 20px;
}

.lists-castle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}
