<br>
<br>
<div class="container new">
  <div class="container title">
    <h1>Castle Update</h1>
  </div>
  <div class="container form">
    <%= render 'form', castle: @castle %>
  </div>
</div>
<div class="back">
    <%= link_to 'Back', castles_path, class: 'backlink' %>
</div>
