<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.touraineloirevalley.com/wp-content/uploads/2021/10/automne_chateau_de_chenonceau_credit_adt_touraine_leonard_de_serres-2031-1-2-1600x800.jpg);">
  <div class="container">
    <h1>Louez un Château!</h1>
    <p>Vivez un moment inoubliable !</p>
  </div>
</div>

<div class="container list">
  <div class="container">
    <br>
    <br>
    <h1>Les Châteaux</h1>
  </div>
  <br>
    <ul>
      <div class="lists-castle">
        <% @castles.each do |castle| %>
          <li>
            <div class="card-category card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= castle.photo.attached? ? cl_image_path(castle.photo.key) : asset_path('Cinderella_Castle1.jpg') %>)">
              <h2 class="categorie"><%= link_to castle.name, castle, class: 'castle-name' %></h2>
              <% if policy(castle).destroy? %>
                <%= link_to list_path(list), class: 'trash',
                    method: :delete,
                    data: { confirm: "Are you sure?" } do%>
                    <i class="fa-regular fa-trash-can"></i>
                    <% end %>
              <% end %>
            </div>
          </li>
        <% end  %>
      </div>
    </ul>
</div>
