<br>
<br>
<div class="container new">
  <div class="container title">
    <h1>Castle Addition</h1>
  </div>
  <div class="container form">
    <%= render 'form', castle: @castle %>
  </div>
</div>
<div>
    <%= link_to 'Back', castles_path, class: 'push' %>
</div>
